//fonts
$gotham: Gotham, Arial, sans-serif;
$yeseva: Yeseva, Arial, sans-serif;

//main-color
$black: #212121;
$white: #fff;

$brand-color: #012e57;
$brown: #212121;
$dark: #4b4949;
$dkgrey: #4b4b4b;
$light: #ededed;
$red-color: #d2441c;
$red-color-hover: #f34514;
$black-text: #333333;
$border-color: #cccccc;
$blue: #0b5297;
$yellow: #feb005;
$lightgrey: #d8d8d8;

//media
$screen-notebook: 1680px;
$screen-lg-max: 1200px;
$screen-tablet: 1024px;
$screen-md-max: 992px;
$screen-sm-max: 768px;
$screen-xs-max: 544px;

//transition
$anim: .3s;