.DS_Store
.DS_Store?
.idea
*.ai
*.log
*.log.*
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
Thumbs.db
dist/

.sass-cache/
/img
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.sublime*
.classpath
.project
.settings
.metadata
*.iml
*.ipr
.vscode
nbproject
.~lock.*
.buildpath
composer.lock
package-lock.json
.nyc_output/

/test/tmp
/test/coverage
/_docs/
protected