.main {
  overflow-x: hidden;
}

// + BREAD +
.bread {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  padding-bottom: 2.5em;
}

.bread__item {
  font-size: 0.86em;
}

.bread__item:not(:last-child) {
  margin-right: 22px;
  position: relative;
}
.bread__item:not(:last-child):after {
  content: "/";
  position: absolute;
  top: 0;
  right: -15px;
}

.bread__link[href]:hover {
  text-decoration: underline; 
}
// - BREAD -

//.info-menu
.info-menu {
  display: flex;
  color: $black-text;
  font-size: 1rem;
  font-size: 0;

  @media screen and (max-width: $screen-sm-max) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    display: none;
    width: 100%;
    background: white;
    padding: 2em;
    padding-top: 4em;
    color: black;
    transition: opacity $anim;

    &.active {
      display: block;
    }

    &.open {
      opacity: 1;
    }
  }
}

.open-menu.open {
  color: $black;

  &:before {
    transform: translateY(0em) rotate(45deg);
  }

  &:after {
    transform: translateY(0em) rotate(-45deg);
  }

  & > span {
    opacity: 0;
  }
}

.header-page__menu {
  position: relative;
  margin: auto;

  @media screen and (max-width: $screen-md-max) {
    order: 5;
    width: 100%;
  }

  @media screen and (max-width: $screen-sm-max) {
    order: 2;
    width: auto;
  }
}

.header-page__menu .indicator {
  height: 2px;
  background: $brand-color;
  display: none;
  width: 0;
  position: absolute;
  bottom: -1px;
  transition: width 1s, transform .6s;
  transition-timing-function: cubic-bezier(0.03, 0.99, 0.54, 0.94);
}

.header-page__menu:hover .indicator {
  display: block;
}

.header-page__open-min-menu {
  display: none;

  @media screen and (max-width: $screen-sm-max) {
    display: block;
  }
}

.open-menu {
  position: relative;
  z-index: 13;
  display: block;
  width: 30em;
  height: 30em;
  color: $black;
  font-size: .8px;

  &:before,
  &:after,
  & > span {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: transform $anim, opacity $anim;
  }

  &:before {
    transform: translateY(-10em);
  }

  &:after {
    transform: translateY(10em);
  }

  @media screen and (min-width: $screen-tablet) {
    display: none;
  }
}

.info-menu__item {
  // flex: 1;
  text-align: center;
  font-size: 1rem;
}

.info-menu__link {
  position: relative;
  display: block;
  padding: 2.108em 1em;
  white-space: nowrap;
  font-size: .875em;
  line-height: 1.15;

  &:hover {
    color: $brand-color;
  }

  &:active {
    opacity: .8;
  }

  @media screen and (max-width: $screen-lg-max) {
    padding: 1em 0.5em;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 1em 0;
  }
}

.header-page__menu--nojs .info-menu__link:before {
  content: "";
  height: 2px;
  background: $brand-color;
  display: block;
  width: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-page__menu--nojs .info-menu__link:hover:before {
  width: 100%;
}

//.info-menu end


//.lang-list
.lang-list {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 1.5em;
  color: #fff;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    width: .4em;
    height: .4em;
    color: $brand-color;
    border: 2px solid;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
  }

  &.active{
    overflow: visible;
    color: $black;
  }
}

.lang-list__item.active {
  order: -1;

  .lang-list__btn {
    background-color: transparent;
  }
}

.lang-list__btn {
  background-color: #f7f7f7;
  &:hover,
  &:active,
  &:focus {
    color: rgba($brand-color, .7);
  }

  &.active {
    order: -1;

    .lang-list__btn {
      background-color: transparent;
    }
  }
}

.lang-list__btn {
  color: $brand-color;
  display: block;
  width: 100%;
  padding: .3em 1.2em;
  text-transform: uppercase;
  font-size: .875em;
  // border-radius: .3em;
  transition: background-color .3s;
}
//.lang-list end


//.social-list
.social-list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.social-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.social-item {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  color: $brand-color;

  &:hover {
    color: $blue;
  }

  &--youtube:hover {
    color: #f00;
  }

  &--facebook:hover {
    color: #3b579d;
  }
}
//.social-list end

//.logo
.logo {
  position: relative;
  display: block;
  width: 10.35em;
  margin-right: 0.67em;

  &:before {
    content: '';
    display: block;
    padding-bottom: 30%;
  }

  @media screen and (max-width: $screen-notebook) {
    width: 11.2em;
  }

  @media screen and (max-width: $screen-xs-max) {
    &--header {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
//.logo end



//.contacts-list
.contacts-list__item:not(:last-child) {
  margin-bottom: 7px;
}

.contacts-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;

  &:active {
    opacity: .8;
  }
}

.contacts-item__ico {
  width: .9em;
  height: 1em;
  margin-right: .9em;

  @media screen and (max-width: $screen-lg-max) {
    margin-right: .3em;
  }
}
//.contacts-list end



//.btn
.btn {
  display: block;
  width: 16.5em;
  height: 3em;
  line-height: 3;
  background-color: $blue;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  color: $white;
  transition: all $anim;

  &:hover {
    box-shadow: 0px 2px 31px 4px rgba(11,82,151,.47);
  }

  &:active {
    opacity: .8;
  }

}
//.btn end

// + btn viber + 
.btn-viber {
  display: block;
  width: 5.65em;
  height: 2em;
  line-height: 2;
  background-color: #7b519d;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  border-radius: 2em;

  &:hover {
    background-color: #8f59bb;
  }

  &:active {
    opacity: .8;
  }

  &--red {
    background-color: $red-color;

    &:hover {
      background-color: #945fbf;
    }
  }
}

.btn-viber__ico {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

// - btn viber -


//.anchor-aside
.anchor-aside {
  position: fixed;
  top: 50%;
  right: 0;
  margin: auto;
  height: max-content;
  z-index: 8;
  will-change: transform;
  transform: translateY(-50%);
  background-color: $brand-color;
  opacity: 0.8;
  transition: all $anim;

  &:hover {
    opacity: 1;
  }

  @media screen  and (max-width: $screen-notebook) {
    background-color: transparent;
    opacity: 1;
  }

  @media screen  and (max-width: $screen-tablet) { 
    display: none;
  }
}

.anchor-aside__list {
  list-style-type: disc;
  padding: 1em 0.5em 1em 3em;
  font-size: 1rem;
  color: $white;

  @media screen  and (max-width: $screen-notebook) {
    list-style-type: none;
  }
}

.anchor-aside__item:not(:last-child) {
  @media screen  and (max-width: $screen-notebook) {
    margin-bottom: .5em;
  }
}


.anchor-aside__link {
  position: relative;
  padding: 0.2em 0.8em 0.2em 0;
  font-size: 0.875em;
  color: $lightgrey;
  transition: color $anim;

  &:hover {
    text-decoration: underline;
    background: rgba($brand-color, .55);


    .anchor-aside__helper {
      opacity: 1;
      visibility: visible;
    }
  }

  &.active {
    background: rgba($brand-color, .85);

    .anchor-aside__helper>* {
      color: rgba(#ffffff, .55);
    }
  }

  @media screen  and (max-width: $screen-notebook) {
    color: #fff;
    width: 1.5em;
    height: 1.5em;
    background: rgba(171, 171, 171, 0.6);
    border-radius: 50%;
    display: block;

    &.active .anchor-aside__helper>* {
      color: #ffffff;
    }
  }
}


.anchor-aside__helper {
  white-space: nowrap;
  font-size: .95em;
  transition: opacity $anim, visibility $anim;

  & > * {
    color: $white;
  }

  @media screen  and (max-width: $screen-notebook) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    height: max-content;
    padding: .4em 1.2em;
    margin: auto;
    margin-right: 1em;
    background: $brand-color;
    border-radius: 0.55em 0;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    font-size: .8em;
  }
}

.sect-title {
  display: flex;
  font-size: 1.875em;
  line-height: 1;
  font-family: $yeseva;

  &::before {
    content: "";
    display: block;
    height: .3em;
    width: 1.675em;
    margin-right: .7em;
    margin-top: .25em;
    border-bottom: 2px solid $brand-color;
  }

  &--white {
    &::before {
      border-color: #ffffff;
    }
  }
}



.contain-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

// btn top +
.btn-ancor {
  position: fixed;
  bottom: 1em;
  right: 1.2em;
  width: 2.5em;
  height: 2.5em;
  z-index: 999;
}

.btn-ancor__link {
  width: 100%;
  height: 100%;
  display: block;

  &:hover {
    .btn-ancor__ico {
      background-color: $blue;
    }
  }
}

.btn-ancor__ico {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #eee;
  width: 100%;
  height: 100%;
  background-color: $brand-color;
  border-radius: 50%;
  box-shadow: 0 0 1px 9px rgba(10, 75, 139, 0.17);
  z-index: -1;
  transition: .45s;

  &::after {
    position: absolute;
    top: 0;
    bottom: .9em;
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 0;
    height: 0;
    border-bottom: .9em solid transparent;
    transition: .25s;
    border: .6em solid transparent;
    border-bottom: 1.1em solid white;
  }
}
// btn top -









/* dot1 */
#dot1 {
  position:fixed; 
  left: 101px;
  top:50%; 
  transform: translatey(-50%); 
  z-index: 999;
}
#dot1 li {
  margin: 7px;
}
#dot1 li a {
  position: relative;
  color: #fff;
  width: 17px;
  height: 17px;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  display: block;
}
#dot1 li a span {
  position: absolute;
  top:-5px;
  right: 40px;
  background: rgba(0,0,0,0.9);
  padding: 5px 15px;
  border-radius: 10px 0;
  opacity:0;
  transition: all 0.3s ease;
}
#dot1 li.on a {
  background: rgba(0,0,0,0.9);
}
#dot1 li.on a span {
  opacity: 1; right: 30px;
}