
.header-page {
  margin-bottom: 1.8em;
  font-size: 1rem;
}

.header-page__top-panel {
  background-color: transparent;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // border-bottom: 1px solid $border-color;

    &::before {
      content: "";
      position: absolute;
       // top: 0;
      bottom: 0;
      // right: calc(100% + 1.25em);
      left: 0;
      // right: 0;
      height: 1px;
      width: 12.5em;
      width: 100%;
      margin: auto;
      background-color: $border-color;
      // transform: scaleX(0);
      // transition: transform 2.7s;
      transform-origin: left;
      // animation: draw 7.5s;
      animation-duration: 1.5s;
      animation-name: draw;
    }

    @media screen and (max-width: $screen-sm-max) {
      align-items: center;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: .4em 0;
  }
}

@keyframes draw {
  0% {
    transform: scaleX(0);
  }

  100% {   
    transform: scaleX(1);
    // width: 100%;
  }
}

.header-page__social-list {
  margin-left: 0.7em;
  align-self: center;
  
  @media screen and (max-width: $screen-sm-max) {
    margin: auto;
  }
}

.header-page__mid {
  padding: 1em;

  & > .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: $screen-notebook) {
    padding: 0.4em;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-bottom: 2em;
  }
}

.header-page__logo {

  @media screen and (max-width: $screen-tablet) {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    align-self: center;
  }

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: 1em;
  }
}

.header-page__lang-list {
  z-index: 3;

  position: relative;

  @media screen and (max-width: $screen-lg-max) {
    padding-right: 0.6em;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 0;
  }
}

.header-page__contacts {
  // width: 21%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  
  @media screen and (max-width: $screen-sm-max) {
    margin: auto;
  }
}

